#home-img{
    margin-top:7px;
    margin-left: 5px;
    margin-right:5px;
    height:30px;
    width:30px;
    opacity:100%
}
#live-img{
    margin-top:7px;
    margin-left: 5px;
    margin-right:5px;
    height:30px;
    width:30px;
    opacity:100%
}
#profile-img{
    margin-top:7px;
    margin-left: 5px;
    margin-right:5px;
    height:30px;
    width:30px;
    opacity:100%
}